<a href="https://colab.research.google.com/github/priyanshgupta1998/All_codes/blob/master/Lists_Array_operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Operation  with lists and arrays

In [0]:
import math

In [0]:
k = range(10)

In [0]:
l=len(k)

In [11]:
print(k)
print(len(k))
print(k[:])
print(k[:2])
print(k[::2])
print(k[1::2])
print(k[1:8:2])

range(0, 10)
10
range(0, 10)
range(0, 2)
range(0, 10, 2)
range(1, 10, 2)
range(1, 8, 2)

In [10]:
print(list(k))
print(list(k[:]))
print(list(k[:2]))
print(list(k[::2]))
print(list(k[1::2]))
print(list(k[1:8:2]))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1]
[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[1, 3, 5, 7]

In [34]:
arr = list(k[::2])
for i in arr:
  print(i , end=' ')

0 2 4 6 8

In [33]:
arr = list(k[::2])
for i in range(len(arr)):
  print(arr[i] , end=' ')

0 2 4 6 8

In [40]:
arr = list(k[::2])
print(arr)
del arr[2]
print(arr)

[0, 2, 4, 6, 8]
[0, 2, 6, 8]

In [47]:
arr = list(k[::2])
print(arr)
del arr[4]
del arr[0]
print(arr)

[0, 2, 4, 6, 8]
[2, 4, 6]

In [51]:
arr = list(k[::2])
print(arr)
for i in range(2):  # loop will run 2 times  # and every time size of array is decreasing
  del arr[3]
  print(arr)

[0, 2, 4, 6, 8]
[0, 2, 4, 8]
[0, 2, 4]

In [66]:
arr = list(k[::2])
print(arr)
for _ in range(len(arr)): 
  del arr[0]
  print(arr)

[0, 2, 4, 6, 8]
[2, 4, 6, 8]
[4, 6, 8]
[6, 8]
[8]
[]

In [72]:
arr = list(k[::2])
print(len(k)-len(arr))
for i in range(len(arr)):
  del arr[0]
print(len(k))
print(len(arr))

5
10
0

**EXAMPLE 3:**

In [87]:
s = range(10)
l = len(list(s[::2]))
print(s[4])
print(type(s))
print(list(s))

4
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [223]:
mylist = range(10)
l=len(mylist) / 2
print(l)

5.0

# Lists

In [89]:
a=[1,2,3]
print(a.remove(2))
a

None

[1, 3]

In [91]:
a=[1,2,3]
print(type(a))
del a[1]
a

<class 'list'>

[1, 3]

In [92]:
a= [1,2,3]
print(a.pop(1))  # it returns the element
print(a)

2
[1, 3]

In [94]:
a = [0,2,2, 3, 2]
a.remove(2)   # remove one element at a time
a

[0, 2, 3, 2]

In [95]:
lst = [3, 2, 2, 1]   
del lst[1:]     # delete the items from 1st index
print(lst)

[3]

In [97]:
lst = [3, 2, 2, 1,8,7,4,5]   
print(lst[1:5])
del lst[1:5]     # delete the items from 1st index  upto 4th index
print(lst)

[2, 2, 1, 8]
[3, 7, 4, 5]

In [98]:
lst = [3, 2, 2, 1]
del lst[10:]   # avoid the error
lst

[3, 2, 2, 1]

In [100]:
a = [0, 2, 3, 2, 1, 4, 6, 5, 7]
print(a.pop())     # remove from the end
print(a)

7
[0, 2, 3, 2, 1, 4, 6, 5]

In [0]:
a = [0, 1, 4, 6, 5]
del (a)     #delete the whole list 
# print(a)    # will give an error b'coz list is not present Now.

In [120]:
list_ez=[1,2,3,4,5,6,7,8]
print('original value : ',end=' ')
for i in list_ez:
  print(i,end=' ')
print('')

for i in list_ez:
    if i%2==0:
        list_ez.remove(i)
print('after deletion remain values : ',end=' ')
print(list_ez)

original value :  1 2 3 4 5 6 7 8
after deletion remain values :  [1, 3, 5, 7]

# Set() funtion

**EXAMPLE 1:**

In [124]:
print(range(10))
print(set(range(10)))

range(0, 10)
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [127]:
se  = set(range(10))
print(len(se))
print(se.discard(11))
print(se)

10
None
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [128]:
se  = set(range(10))
print(len(se))
print(se.discard(8))
print(se)

10
None
{0, 1, 2, 3, 4, 5, 6, 7, 9}

**EXAMPLE 2:**

In [137]:
sk = set([1,7,8,9,7,4,6,5])   # conver list to set() datatype
print(type(sk))
print(sk)  # set() is collection of ordered items and doesn't have any duplicate item.

<class 'set'>
{1, 4, 5, 6, 7, 8, 9}

In [138]:
print(sk)
print(len(sk))
print(sk.discard(4))   # remove that item/value from the set 
print(len(sk))
print(sk)

{1, 4, 5, 6, 7, 8, 9}
7
None
6
{1, 5, 6, 7, 8, 9}

In [134]:
for i in sk:
  print(i,end=' ')

1 5 6 7 8 9

#List operations

In [150]:
lss = ['larry', 'curly', 'moe']
lss.append('shemp')         ## append elem at end
lss

['larry', 'curly', 'moe', 'shemp']

In [156]:
lss = ['larry', 'curly', 'moe']
lss.insert(3, 'piyush')        ## insert elem at index 3   # take position as argument
print(lss)
lss.index('piyush')

['larry', 'curly', 'moe', 'piyush']

3

In [158]:
lss = ['larry', 'curly', 'moe']
lss.insert(4, 'piyush')        ## insert elem at index 4   # take position as argument
print(lss)
lss.index('piyush')

['larry', 'curly', 'moe', 'piyush']

3

In [159]:
lss = ['larry', 'curly', 'moe']
lss.extend(['banana', 'grapes'])      # add the elements  at end of the list
print(lss)

['larry', 'curly', 'moe', 'banana', 'grapes']

In [160]:
lss.remove('curly')         ## search and remove that element
print(lss)

['larry', 'moe', 'banana', 'grapes']

In [161]:
print(lss.pop(1)) # remove and returns the delteted element
print(lss)

moe
['larry', 'banana', 'grapes']

In [162]:
 lss = [1, 2, 3,5,8,7]
lss.append(4)    # append the value 4 ata the end
lss

[1, 2, 3, 5, 8, 7, 4]

In [168]:
lss = ['a', 'b', 'c', 'd','e','f']
print(lss[1:])

print('')
print(lss[:-1])   # all Print except the last element of the list

print('')
print(lss[1:-1]) 

print('')
lss[0:2] = 'z'    ## replace ['a', 'b'] with ['z']
print(lss)

print('')
lss.append(["a", "true"])       # append( )   method can  add only one item at a time
print(lss)

print('')
lss.extend(["yes", "No"])      # extend() method
print(lss) 

print('')
lss = lss + ["sure"]   # merge two lists together
print(lss)

['b', 'c', 'd', 'e', 'f']

['a', 'b', 'c', 'd', 'e']

['b', 'c', 'd', 'e']

['z', 'c', 'd', 'e', 'f']

['z', 'c', 'd', 'e', 'f', ['a', 'true']]

['z', 'c', 'd', 'e', 'f', ['a', 'true'], 'yes', 'No']

['z', 'c', 'd', 'e', 'f', ['a', 'true'], 'yes', 'No', 'sure']

In [169]:
lss = ['a','b','v']
print(lss*2)   # repeat all the elements 2 times inside a list

['a', 'b', 'v', 'a', 'b', 'v']

In [176]:
lss = []
print(type(lss))
print(len(lss))

<class 'list'>
0

**Example 3:**

In [178]:
N = int(input())
for i in range(N):
  print(i,end=' ')

5
0 1 2 3 4

In [0]:
for i in range(N):
  lss[i] = list(int(input()))

In [182]:
for i in range(N):
  print(list(str(int(input()))) , end=' ')

5
['5'] 3
['3'] 6
['6'] 8
['8'] 9
['9']

In [181]:
po = ['a','b','n','m']
po[2] = '5'
print(po)

['a', 'b', '5', 'm']

**Important**

In [187]:
jk = []
jk += ['h']
jk += ['f']
print(jk)

['h', 'f']

In [190]:
arr = []
N = int(input())
for i in range(N):
  arr += list(str(int(input())))
  
print(arr)

5
4
6
8
10
7
['4', '6', '8', '1', '0', '7']

# Remove the element from the given position

In [207]:
arr = []
N = int(input())
for i in range(N):
  g =input() 
  arr.append(str(g)) 

  
print(arr)

5
4
6
8
10
7
['4', '6', '8', '10', '7']

In [213]:
arr = []
N = int(input(' Enter the No. of inputs : '))
for i in range(N):
  g =input('Enter the element : ') 
  arr.append(str(g))
  
pos = int(input('Enter the position : '))
a=pos-1
b=N-1
for i in range(a,b):
  arr[i] = arr[i+1]
  
for i in range(b):
  print(arr[i] , end= ' ')  

  
#print(arr)

 Enter the No. of inputs : 5
Enter the element : 4
Enter the element : 6
Enter the element : 8
Enter the element : 10
Enter the element : 7
Enter the position : 3
4 6 10 7

In [194]:
j=0
N = int(input())
for i in range(N):
  g =int(input())
  j+=g
print(j)

2
10
36
46

#Array



```
 Array can be handled in python by module named “array“. They can be useful when we have to manipulate only a specific data type values.
```

**array(data type, value list) :- **


![alt text](https://www.wikitechy.com/tutorials/python/img/python-images/datatypes.png)

In [221]:
import array 
arr= array.array('i',[1, 2, 3, 5, 1])  # i stands for integer datatype
for i in range (0,5): 
    print (arr[i],end=" ")   
print ("\r") 
print (arr.pop(3))   # pass the position / index
print(arr)
arr.remove(1)  # pass the element value
print(arr)
print(arr.index(2)) 

arr.reverse() 
print(arr)

1 2 3 5 1
5
array('i', [1, 2, 3, 1])
array('i', [2, 3, 1])
0
array('i', [1, 3, 2])

#END: