<a href="https://colab.research.google.com/github/priyanshgupta1998/All_codes/blob/master/Median.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



---



---



---



---



---



---



---

#Q. 1  Median Without using Inbuilt Library from the scratch

In [16]:
liss = [1, 2, 8,7 ,6,9,3, 4, 5] 
l= len(liss) 
liss.sort()   #First we will sort the list in the asending order
print(l)
print(liss)

9
[1, 2, 3, 4, 5, 6, 7, 8, 9]

#formula is  for even (n/2th term  + (n/2-1)th term )/2

In [17]:
if(l % 2 == 0): 
    med1 = liss[l//2] 
    med2 = liss[l//2 - 1] 
    median = (med1 + med2)/2
else: 
    median = liss[l//2] 
print("Median is: " + str(median))

Median is: 5



---



---



---



---



---



---



---



---


#Q . 2

In [0]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame()
df['col_1'] = [1 ,2 ,4 ,3, 4, 1, 2, 3, 4]
df['col_2'] = [ 1 ,'a', 4, 3,'b', 1, 2, 'c', 4 ]
print(df.shape)
df

(9, 2)

   col_1 col_2
0      1     1
1      2     a
2      4     4
3      3     3
4      4     b
5      1     1
6      2     2
7      3     c
8      4     4

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
col_1    9 non-null int64
col_2    9 non-null object
dtypes: int64(1), object(1)
memory usage: 224.0+ bytes

#for column 1

In [14]:
if(df['col_1'].dtypes == 'int'):
  print(df['col_1'].sum())
else:
  print('None')

24

#for column 2

In [15]:
if(df['col_2'].dtypes == 'int'):
  print(df['col_2'].sum())
else:
  print('None')

None