<a href="https://colab.research.google.com/github/priyanshgupta1998/All_codes/blob/master/practicecode1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#How do you find the missing number in a given integer array of 1 to 100?

In [89]:
k = list(range(1,101))
print(k) # lsit pf 100 numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [90]:
del k[9]
print(k) # remove element 10 from the list to make a scenario

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]



```
Assume:  
Now we don't know which element is missing from the list so we have to find it out.
```

In [93]:
l = len(k)
res = sum(k)  # sum of all the elements from the given list 
total = int((l+1)*(l+2)/2)   # sum of all the elements from 1 to 100
print(" mising element is : ", end= '  ')
print(total - res)

 mising element is :   10

#Q. How do you find the duplicate number on a given integer array?

**Method 1 **

In [94]:
arr = [1,4,5,7,2,1,4,1,2,3,4,1,4]   # list with duplicate numbers 
l = len(arr)

13

In [95]:
import numpy as np 
arr_ = np.array(arr)
arr_

array([1, 4, 5, 7, 2, 1, 4, 1, 2, 3, 4, 1, 4])

In [98]:
dup = np.unique(arr_)
dup

array([1, 2, 3, 4, 5, 7])

In [0]:
l = len(list(dup))
l_ = len(list(arr_))

In [112]:
for i in range(l):
  count = 0
  for j in range(l_):
    if arr_[j]==dup[i]:
      count = count +1
  print( str(dup[i]) + " comes : " + str(count) + " times")

1 comes : 4 times
2 comes : 2 times
3 comes : 1 times
4 comes : 4 times
5 comes : 1 times
7 comes : 1 times

**method 2**

In [0]:
def repeat(arr , n):
  for i in range(n):
    if(arr[abs(arr[i])]>=0):
      arr[abs(arr[i])] = -arr[abs(arr[i])]
    else:
      print(abs(arr[i]), end = " ")

In [121]:
array = [1,4,5,7,2,1,4,1,2,3,4,1,4]   # list with duplicate numbers 
length = len(array)
repeat(array , length)

1 4 1 2 4 1 4

#Q. How are duplicates removed from an array without using any library?

In [0]:
def removed(arr , n):
  a = []
  for i in range(n):
    if(arr[abs(arr[i])]>=0):
      arr[abs(arr[i])] = -arr[abs(arr[i])]
    else:
      
      
array = [1,4,5,2,2,1,4,1,2,3,4,1,4]  
length = len(array)
a = removed(array , length)

In [165]:
n = 9
english = [1,2,3,4,5,6,7,8,9]
b = 9
french = [10,1,2,3,11,21,55,6,8]
for i in french:
  if i in english:
    continue
  else:
    english.append(i)
print(english)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 21, 55]

In [168]:
n = 9
english = set([1,2,3,4,5,6,7,8,9])
b = 9
l=set()
french = set([10,1,2,3,11,21,55,6,8])
for i in english.intersection(french):
  l.add(i)
print(l)

{1, 2, 3, 6, 8}
{1, 2, 3, 6, 8}

In [169]:
s = set("Hacker")
print(s.difference("Rank"))

{'H', 'e', 'c', 'r'}

In [170]:
print((english|french))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 21, 55}

In [172]:
print(english.union(french))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 21, 55}

#examples of set() function

#.update() or |=

In [173]:
H = set("Hacker")
R = set("Rank")
H.update(R)
print(H)

{'e', 'r', 'n', 'H', 'R', 'c', 'a', 'k'}

#.intersection_update() or &=

In [175]:
H = set("Hacker")
R = set("Rank")
H.intersection_update(R)
print(H)
print(H.intersection(R))

{'a', 'k'}
{'a', 'k'}

In [178]:
arr = set([1, 2 ,3, 4, 5, 6, 7 ,8, 9, 10 ,11, 12 ,13 ,14 ,24 ,52])
a = set([2 ,3, 5, 6 ,8 ,9, 1 ,4 ,7, 11])
b = set([55, 66])
c = set([22, 7 ,35 ,62 ,58])
d = set([11, 22, 35 ,55 ,58, 62, 66])
arr.intersection_update(a)
print(arr)
arr.update(b)
print(arr)
arr.symmetric_difference_update(c)  # delete common elements and after that add all the left elements
print(arr)
arr.difference_update(d)
print(arr)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 66, 11, 55}
{1, 2, 3, 4, 5, 6, 8, 9, 66, 11, 35, 22, 55, 58, 62}
{1, 2, 3, 4, 5, 6, 8, 9}

In [0]:

n = 16
A = set([1, 2 ,3, 4, 5, 6, 7 ,8, 9, 10 ,11, 12 ,13 ,14 ,24 ,52])
 
eval('A.{0}({1})'.format(*input().split()+['']))
print(A)

In [179]:
 
'{0}{1}'.format(*input().split()+[''])

1 2 5 3 4 5

'12'

In [180]:
 
'{0}{1}{3}'.format(*input().split()+[''])

1 2 5 3 4 5

'123'

In [181]:
 K = input().split()
'{0}{1}'.format(*K+[''])

1 2 5 3 4 5

'12'

In [184]:
K = input().split()
st = '{0}'.format(*K+[''])
print(type(st))

update 5
<class 'str'>

In [186]:
'{0}'.format(*st)

'u'

In [0]:
K = input().split()
lis = set([1,2,3,4,5])
'{0}{2}'.format(*K+['']+lis)

In [190]:
letter = 'priyansh'
print(letter in ['a', 'e', 'i', 'o', 'u', 'y'])

False

In [191]:
def is_vowel(letter):
    return letter in ['a', 'e', 'i', 'o', 'u', 'y']
  
res= is_vowel('hacker')    # 'hacker' doesn't exist in function
print(res)

False

In [0]:
def is_vowel(letter):
    return letter in ['a', 'e', 'i', 'o', 'u', 'y']

def score_words(words):
    score = 0
    for word in words:
        num_vowels = 0
        for letter in word:
            if is_vowel(letter):
                num_vowels += 1
        if num_vowels % 2 == 0:
            score += 2
        else:
            ++score
    return score

In [1]:
class EvenStream(object):
    def __init__(self):
        self.current = 0

    def get_next(self):
        to_return = self.current
        self.current += 2
        return to_return

class OddStream(object):
    def __init__(self):
        self.current = 1

    def get_next(self):
        to_return = self.current
        self.current += 2
        return to_return

def print_from_stream(n, stream=EvenStream()):
    for _ in range(n):
        print(stream.get_next())
        




queries = int(input())
for _ in range(queries):
    stream_name, n = input().split()
    n = int(n)
    if stream_name == "even":
        print_from_stream(n)
    else:
        print_from_stream(n, OddStream())

3
odd 2
1
3
even 3
0
2
4
odd 5
1
3
5
7
9