<a href="https://colab.research.google.com/github/priyanshgupta1998/All_codes/blob/master/Python_Tricks/a01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
list = [True,50,10]; list.insert(2,5); print(sum(list))

66

In [22]:
a = (1,2,3) 
a.append((4,5,6))
print(a)

AttributeError: ignored

In [25]:
a = (5,0,0)
b = (4,5,6)
print(a>b)

c = (3,9,9)
print(c>b)

d = (3,0,9)
print(d>c)

True
False
False

In [26]:
list=[1,2,3,4]
list1 = [1,2,3,4]
print(list+list1)

[1, 2, 3, 4, 1, 2, 3, 4]

In [30]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'a': ['1', '2', '3'], 'b': ['4', np.NaN, '6']})
df

   a    b
0  1    4
1  2  NaN
2  3    6

In [35]:
df.groupby('b').groups

{'4': Int64Index([0], dtype='int64'), '6': Int64Index([2], dtype='int64')}

In [31]:
data = df.copy()
data.fillna(-1)

   a   b
0  1   4
1  2  -1
2  3   6

In [34]:
data = df.copy()
data.fillna(-1).groupby('b').first()  # in ascending order of the b's

    a
b
-1  2
4   1
6   3

In [36]:
data.fillna(-1).groupby('b').sum()

    a
b
-1  2
4   1
6   3

In [6]:
import pandas as pd
df = pd.DataFrame({'a': ['1', '2', '3', '4'], 'b': ['4', np.NaN, '6' ,np.NaN ]})
df

   a    b
0  1    4
1  2  NaN
2  3    6
3  4  NaN

In [7]:
import numpy as np
df['b'] = df['b'].astype(str)
df

   a    b
0  1    4
1  2  nan
2  3    6
3  4  nan

In [8]:
df.groupby(['b']).sum()

      a
b
4     1
6     3
nan  24

In [0]:
list=[],list.append([1,2,[3,4]]); list.extend([2,3,[4]]); print(list[0][2][0]+list[3][0])

In [18]:
list = ['abcd','xyz',1234,'klmn']; print(list[2][-2],list[-2])

TypeError: ignored